In [1]:
import pandas as pd
import numpy as np

Mockup User Particication with Campaign Promotion for Each pro_restrnt

In [2]:
np.random.seed(42)

num_users = 1000
num_pro_rests = 50

cust_ids = ["6600" + str(i+1).zfill(4) for i in range(num_users)]
pro_rest_campaigns = ["pro_restrnt" + str(i+1).zfill(2) for i in range(num_pro_rests)]
participation_matrix = np.zeros((num_users, num_pro_rests))
popularity = np.random.rand(num_pro_rests) ** 2
customer_activity = np.random.rand(num_users) ** 2

for i in range(num_users):
    for j in range(num_pro_rests):
        if np.random.rand() < (popularity[j] * customer_activity[i]):
            participation_matrix[i, j] = 1

df = pd.DataFrame(participation_matrix, columns=pro_rest_campaigns)
df.insert(0, 'cust_id', cust_ids)
df.head()

,cust_id,pro_restrnt01,pro_restrnt02,pro_restrnt03,pro_restrnt04,pro_restrnt05,pro_restrnt06,pro_restrnt07,pro_restrnt08,pro_restrnt09,...,pro_restrnt41,pro_restrnt42,pro_restrnt43,pro_restrnt44,pro_restrnt45,pro_restrnt46,pro_restrnt47,pro_restrnt48,pro_restrnt49,pro_restrnt50
0,66000001,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1,66000002,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,66000003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,66000004,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,66000005,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Save Data

In [35]:
# Save DataFrame to CSV file
# file_path = r''
# df.to_csv(file_path, index=False)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cust_id        1000 non-null   object
 1   pro_restrnt01  1000 non-null   float64
 2   pro_restrnt02  1000 non-null   float64
 3   pro_restrnt03  1000 non-null   float64
 4   pro_restrnt04  1000 non-null   float64
 5   pro_restrnt05  1000 non-null   float64
 6   pro_restrnt06  1000 non-null   float64
 7   pro_restrnt07  1000 non-null   float64
 8   pro_restrnt08  1000 non-null   float64
 9   pro_restrnt09  1000 non-null   float64
 10  pro_restrnt10  1000 non-null   float64
 11  pro_restrnt11  1000 non-null   float64
 12  pro_restrnt12  1000 non-null   float64
 13  pro_restrnt13  1000 non-null   float64
 14  pro_restrnt14  1000 non-null   float64
 15  pro_restrnt15  1000 non-null   float64
 16  pro_restrnt16  1000 non-null   float64
 17  pro_restrnt17  1000 non-null   float64
 18  pro_restrnt18  1000 non-null   float64
 19  pro_restrnt19  1000 non-null   float64
 20  pro_restrnt20  1000 non-null   float64
 21  pro_restrnt21  1000 non-null   float64
 22  pro_restrnt22  1000 non-null   float64
 23  pro_restrnt23  1000 non-null   float64
 24  pro_restrnt24  1000 non-null   float64
 25  pro_restrnt25  1000 non-null   float64
 26  pro_restrnt26  1000 non-null   float64
 27  pro_restrnt27  1000 non-null   float64
 28  pro_restrnt28  1000 non-null   float64
 29  pro_restrnt29  1000 non-null   float64
 30  pro_restrnt30  1000 non-null   float64
 31  pro_restrnt31  1000 non-null   float64
 32  pro_restrnt32  1000 non-null   float64
 33  pro_restrnt33  1000 non-null   float64
 34  pro_restrnt34  1000 non-null   float64
 35  pro_restrnt35  1000 non-null   float64
 36  pro_restrnt36  1000 non-null   float64
 37  pro_restrnt37  1000 non-null   float64
 38  pro_restrnt38  1000 non-null   float64
 39  pro_restrnt39  1000 non-null   float64
 40  pro_restrnt40  1000 non-null   float64
 41  pro_restrnt41  1000 non-null   float64
 42  pro_restrnt42  1000 non-null   float64
 43  pro_restrnt43  1000 non-null   float64
 44  pro_restrnt44  1000 non-null   float64
 45  pro_restrnt45  1000 non-null   float64
 46  pro_restrnt46  1000 non-null   float64
 47  pro_restrnt47  1000 non-null   float64
 48  pro_restrnt48  1000 non-null   float64
 49  pro_restrnt49  1000 non-null   float64
 50  pro_restrnt50  1000 non-null   float64
dtypes: float64(50), object(1)
memory usage: 398.6+ KB

Mockup Detail of Each Promotion Campaign

In [9]:
campaign_promotion = pd.read_csv(r'')

pd.set_option('display.max_colwidth', None)
campaign_promotion.head(10)

,Promotion,Promotion_Description
0,pro_restrnt01,Indulge in a delightful dinner at a top Chinese restaurant in Bangkok with 8 renowned hotel brands. Enjoy a 10% cash back and earn 100 points on every meal.
1,pro_restrnt02,Savor a luxurious lunch at an Italian restaurant in Central World. Get a free dessert with every main course and earn double points.
2,pro_restrnt03,Start your day with a Japanese breakfast at Siam Paragon. Get a 15% discount and earn 50 points on your bill.
3,pro_restrnt04,Experience a traditional Indian dinner at Terminal 21. Enjoy a 5% cash back and earn 150 points.
4,pro_restrnt05,Enjoy a Thai lunch at MBK Center with a free drink and a 10% discount on your meal.
5,pro_restrnt06,Delight in a seafood dinner at EmQuartier with a 20% discount on weekends and earn 200 points.
6,pro_restrnt07,"Have a French breakfast at Central Embassy, complete with a free coffee and earn 10 points."
7,pro_restrnt08,Enjoy an American diner lunch at The Mall Bangkapi with an 8% cash back and earn 80 points.
8,pro_restrnt09,Dine at a Mexican restaurant in Mega Bangna with 2 for 1 margaritas and earn 120 points.
9,pro_restrnt10,Relish a Vietnamese lunch at Iconsiam with a 10% discount on weekdays and earn 70 points.

Mockup for Propensity to Use Model

In [4]:
import pandas as pd
import numpy as np

num_customers = 1000
num_months = 12

np.random.seed(42)

date_range = pd.date_range(start='2023-01-01', periods=num_months, freq='M') #testt
customer_ids = ["6600" + str(i+1).zfill(4) for i in range(num_customers)]
data_list = []

for customer_id in customer_ids:

    age = np.random.choice(np.arange(18, 70))
    gender = np.random.choice(['Male', 'Female'], p=[0.48, 0.52])
    income = np.random.choice([15000, 25000, 35000, 45000, 55000, 65000, 75000, 85000, 95000, 105000], p=[0.2, 0.25, 0.2, 0.15, 0.1, 0.05, 0.02, 0.01, 0.01, 0.01])
    marital_status = np.random.choice(['Single', 'Married', 'Divorced', 'Widowed'], p=[0.4, 0.5, 0.05, 0.05])
    num_dependents = np.random.choice([0, 1, 2, 3, 4, 5], p=[0.4, 0.3, 0.15, 0.1, 0.04, 0.01])
    days_as_customer = np.random.randint(30, 3650)
    total_credit_limit = np.random.uniform(5000, 500000)
    
    for date in date_range:

        avg_monthly_spend = np.random.uniform(200, 30000)
        num_transactions_per_month = np.random.randint(1, 50)
        num_merchants_per_month = np.random.randint(1, 20)
        spend_category = np.random.choice(['Groceries', 'Entertainment', 'Travel', 'Dining', 'Health', 'Education'], p=[0.1, 0.2, 0.1, 0.3, 0.2, 0.1])
        credit_limit_utilization = np.random.uniform(0.1, 1.0)
        
        last_month_spend = avg_monthly_spend * np.random.uniform(1, total_credit_limit/avg_monthly_spend)
        last_6_months_spend = avg_monthly_spend * np.random.uniform(3, 6)
        last_12_months_spend = avg_monthly_spend * np.random.uniform(6, 12)
        remaining_credit_limit = total_credit_limit * (1 - credit_limit_utilization)
        num_overdue_payments_12_months = np.random.choice([0, 1, 2, 3, 4], p=[0.7, 0.2, 0.05, 0.03, 0.02])
        num_payments_in_full_12_months = np.random.randint(5, 12)
        num_late_payments_12_months = np.random.choice([0, 1, 2], p=[0.8, 0.15, 0.05])
        avg_payment_amount = last_month_spend * np.random.uniform(0.7, 1.2)
        days_since_last_transaction = np.random.randint(0, 30)
        
        high_spend = avg_monthly_spend >= 15000
        high_frequency = num_transactions_per_month >= 5
        high_utilization = credit_limit_utilization >= 0.55
        good_payment_history = num_payments_in_full_12_months / 12 >= 0.30
        dinner = spend_category in ['Dining', 'Travel']

        interaction_term = high_spend and high_frequency and high_utilization and good_payment_history and dinner
        base_prob = 0.05
        if interaction_term:
            response_prob = base_prob + 0.6
        else:
            response_prob = base_prob

        target = np.random.choice([0, 1], p=[1-response_prob, response_prob])

        data_list.append({
            'Customer_ID': customer_id,
            'Feature_Date': date,
            'Age': age,
            'Gender': gender,
            'Income': income,
            'Marital_Status': marital_status,
            'Number_of_Dependents': num_dependents,
            'Days_as_Customer': days_as_customer,
            'Total_Credit_Limit': total_credit_limit,
            'Average_Monthly_Spend': avg_monthly_spend,
            'Number_of_Transactions_Per_Month': num_transactions_per_month,
            'Number_of_Merchants_Per_Month': num_merchants_per_month,
            'Spend_Category': spend_category,
            'Credit_Limit_Utilization': credit_limit_utilization,
            'Number_of_Overdue_Payments_12_Months': np.random.choice([0, 1, 2, 3, 4], p=[0.7, 0.2, 0.05, 0.03, 0.02]),
            'Number_of_Payments_in_Full_12_Months': np.random.randint(5, 12),
            'Number_of_Late_Payments_12_Months': np.random.choice([0, 1, 2], p=[0.8, 0.15, 0.05]),
            'Average_Payment_Amt': avg_monthly_spend * np.random.uniform(0.7, 1.2),
            'Days_Since_Last_Transaction': np.random.randint(0, 30),
            'Avg_Spend_Per_Transaction': avg_monthly_spend / num_transactions_per_month,
            'High_Value_Transactions': np.sum(np.random.uniform(0, 1, num_transactions_per_month) > 0.9),
            'Num_Spend_Categories': np.random.randint(1, 6),
            'Avg_Days_Between_Transactions': 30 / num_transactions_per_month,
            'Times_Credit_Limit_Exceeded': np.random.randint(0, 3) if credit_limit_utilization > 0.8 else 0,
            'Previous_Month_Payment': avg_monthly_spend * np.random.uniform(0.5, 1.5),
            'Times_Payment_Missed': np.random.randint(0, 3) if np.random.uniform(0, 1) > 0.75 else 0,
            'Target': target
        })

data = pd.DataFrame(data_list)
data['Feature_Date'] = pd.to_datetime(data['Feature_Date'])
data.sort_values(by=['Customer_ID', 'Feature_Date'], inplace=True)
data['Target'] = data.groupby('Customer_ID')['Target'].shift(-2)
data['Target_Date'] = data['Feature_Date'] + pd.DateOffset(months=2)
data.dropna(subset=['Target'], inplace=True)
data.reset_index(drop=True, inplace=True)
print(data['Target'].value_counts())
data.head()

C:\Users\tanap\AppData\Local\Temp\ipykernel_23944\3767596692.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  date_range = pd.date_range(start='2023-01-01', periods=num_months, freq='M')

Target
0.0    8997
1.0    1003
Name: count, dtype: int64

,Customer_ID,Feature_Date,Age,Gender,Income,Marital_Status,Number_of_Dependents,Days_as_Customer,Total_Credit_Limit,Average_Monthly_Spend,...,Days_Since_Last_Transaction,Avg_Spend_Per_Transaction,High_Value_Transactions,Num_Spend_Categories,Avg_Days_Between_Transactions,Times_Credit_Limit_Exceeded,Previous_Month_Payment,Times_Payment_Missed,Target,Target_Date
0,66000001,2023-01-31,56,Female,15000,Married,1,2199,82217.287566,1930.891643,...,27,80.453818,3,2,1.250000,0,2061.613640,0,0.0,2023-03-31
1,66000001,2023-02-28,56,Female,15000,Married,1,2199,82217.287566,25300.086283,...,8,575.001961,4,3,0.681818,1,34925.955438,0,0.0,2023-04-28
2,66000001,2023-03-31,56,Female,15000,Married,1,2199,82217.287566,9009.883838,...,29,1501.647306,1,1,5.000000,0,5089.613527,0,0.0,2023-05-31
3,66000001,2023-04-30,56,Female,15000,Married,1,2199,82217.287566,7556.906673,...,3,193.766838,5,3,0.769231,0,9264.432650,1,1.0,2023-06-30
4,66000001,2023-05-31,56,Female,15000,Married,1,2199,82217.287566,23440.291267,...,0,976.678803,2,4,1.250000,1,34080.509326,2,0.0,2023-07-31

In [5]:
data[data['Target']>0]['Spend_Category'].value_counts()

Spend_Category
Dining           310
Entertainment    208
Health           189
Travel           109
Groceries        108
Education         79
Name: count, dtype: int64

In [205]:
# Save DataFrame to CSV file
# file_path = r''
# data.to_csv(file_path, index=False)